<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

    {{ with resources.Get "css/main.css" | minify }}
        <link rel="stylesheet" type="text/css" href="{{ .Permalink }}">
    {{ end }}
</head>

<body>
    <header>
        {{ block "header" . }}{{ end }}
    </header>

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    <footer>
        {{ block "footer" . }}{{ end }}
    </footer>
</body>

</html>
